version: '2'
services:
    nginx:
        build: ./nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /data/westwork/nginx/conf:/etc/nginx
            - /data/westwork/web:/usr/share/nginx/www
        restart: on-failure:5
    ldap:
        build: ./ldap
        expose:
            - "389"
        environment:
            - SLAPD_PASSWORD={{root_pass}}
            - SLAPD_DOMAIN={{domain}}
            - SLAPD_CONFIG_PASSWORD={{root_pass}}
            - SLAPD_ADDITIONAL_SCHEMAS="inetorgperson,postfix"
        volumes:
            - /data/westwork/ldap/data:/var/lib/ldap
            - /data/westwork/ldap/conf:/etc/openldap
        restart: on-failure:5

