<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Westwork</title>
    <link rel="stylesheet" href="westwork_style.css">
  </head>
  <body>
      <div>Welcome to Westwork</div>
      <div>What is your name?</div>
      <div>
          <form action="/config" method="POST">
              <div>
                  <input type="text" id="first" value="First">
              </div>
              <div>
                  <input type="text" id="last" value="Last">
              </div>
          </form>
  </body>
</html>
